@import '../../assets/partials/breakpoints';

.tv-card{
    width: 7.5rem;
    height: 22rem;
    background-color: #373b69;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
    margin: 1rem;
    color: white;
    &:hover{
        transform: scale(110%);
        border: 1px solid white;
        border-radius: 5px;
    }
    @include small {
        width: 12rem;
        height: 26rem;
    }
    @include med{
        width: 14rem;
        height: 30rem;
    }
    @include large{
        width: 16rem;
        height: 34rem;
    }
    
}
.tv-card-title{
    font-size: 1rem;
    @include small {
        font-size: 1.15rem;
    }
    @include med{
        font-size: 1.25rem;
    }
    @include large{
        font-size: 1.5rem;
    }
}

.tv-card-poster{
    width: 100%;
}