@import '../../assets/partials/breakpoints';

.season-display-header-container{
    margin-top: 3rem;
    background-color: rgba(77, 95, 176, 0.65);
}
.season-display-header-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.season-display-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.season-display-title{
    margin: 1rem 0;
}
.season-display-aired{
    margin: 1rem 0;
}
.season-display-overview{
    margin-top: 1rem;
}
.season-display-header-container h1{
    font-size: 2.5rem;
    @include large {
        font-size: 2.75rem;
    }
    @include x-large{
        font-size: 3rem;
    }
}
.season-display-header-container h4{
    font-size: 1.75rem;
    @include large{
        font-size: 2rem;
    }
    @include x-large{
        font-size: 2.15rem;
    }
}
.season-display-title-container p{
    font-size: 1.10rem;
    @include large{
        font-size: 1.25rem;
    }
    @include x-large{
        font-size: 1.5rem;
    }
}