@import '../../assets/partials/breakpoints';
.movie-display-info-container{
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #555ba5;
}
.movie-display-info-title{
    display: flex;
    justify-content: center;
}

// ! PRODUCTION COMPANIES
.movie-info-production-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.display-production-companies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.display-production-company{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.display-company-logo{
    margin-bottom: 1rem;
    width: 7rem;
    @include small{
        width: 8rem;
    }
    @include med{
        width: 10rem;
    }
    @include large{
        width: 11rem;
    }
    @include x-large{
        width: 12rem;
    }
}
.movie-detail-list{
    list-style: none;
    font-size: 1.15rem;
    @include small{
        font-size: 1.35rem;
    }
    @include large{
        font-size: 1.5rem;
    }
}