@import '../../assets/partials/breakpoints';

.movie-display-recommend-container{
    margin-top: 3rem;
    background-color: #555ba5;
}
.display-recommend-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.display-recommend-header h1{
    font-size: 2.5rem;
}
.movie-recommend-carousel-col{
    padding: 1rem;
    border-radius: 10px;
}

.recommend-cards-carousel-item{
    &:hover{
        transform: scale(110%);
    }
}
.recommend-cards-carousel-item a{
    text-decoration: none;
    color: white;
    
}
.recommend-card{
    width: 8.5rem;
    height: 21rem;
    background: #373b69;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
    @include small{
        width: 10rem;
        height: 23rem;
    }
    @include med{
        width: 11rem;
        height: 24rem;
    }
    @include large{
        width: 12.5rem;
        height: 26rem;
    }
    @include x-large{
        width: 13.5rem;
        height: 29rem;
    }
    @include xx-large{
        width: 14rem;
        height: 30rem;
    }
}
