@import '../../assets/partials/breakpoints';

.home-people-trending-card-container a {
    text-decoration: none;
    color: white;
}
.home-people-trending-card{
    width: 8.5rem;
    height: 24rem;
    background: #373b69;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
    &:hover{
        transform: scale(110%);
    }
    @include small{
        width: 10rem;
        height: 26rem;
    }
    @include med{
        width: 11rem;
        height: 27rem;
    }
    @include large{
        width: 12.5rem;
        height: 29rem;
    }
    @include x-large{
        width: 13.5rem;
        height: 32rem;
    }
    @include xx-large{
        width: 14rem;
        height: 33rem;
    }
}