@import '../../assets/partials/breakpoints';

.people-section-container{
    margin-top: 3rem;
}

.people-container-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.people-container-header h1{
    font-size: 2.5rem;
    @include large{
        font-size: 3rem;
    }
    @include x-large{
        font-size: 3.25rem;
    }
}