@import '../../assets/partials/breakpoints';

.movie-display-collection-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.movie-display-collection-header h1{
    @include large{
        font-size: 3rem;
    }
    @include x-large{
        font-size: 3.25rem;
    }
}
.movie-display-collection-poster-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    &:hover{
        transform: scale(108%);
    }
}
.movie-display-collection-poster{
    padding: 1rem;
    border-radius: 20px;
    width: 17rem;
    @include small {
        width: 20rem;
    }
    @include med{
        width: 22rem;
    }
    @include large{
        width: 24rem;
    }
    @include x-large{
        width: 26rem;
    }
    @include xx-large{
        width: 28rem;
    }
}