@import '../../assets/partials/breakpoints';

.people-display-header-container{
    background-color: #555ba5;
}
.people-display-header-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.person-display-image{
    width: 13rem;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
    @include small{
        width: 15rem;
    }
    @include med{
        width: 18rem;
    }
    @include large{
        width: 22rem;
    }
}
.people-display-header-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.people-display-header-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.people-display-header-name h1{
    font-size: 2.5rem;
    padding-top: 1rem;
    @include large{
        font-size: 3rem;
    }
    @include x-large{
        font-size: 3.25rem;
    }
}
.people-display-header-container h3{
    font-size: 1.5rem;
    @include large{
        font-size: 2rem;
    }
    @include x-large{
        font-size: 2.25rem;
    }
}
.people-display-header-container h2{
    font-size: 2rem;
    @include small{
        font-size: 2.25rem;
    }
}
.people-display-header-container p{
    @include small{
        font-size: 1rem;
    }
    @include med{
        font-size: 1.25rem;
    }
    @include large{
        font-size: 1.5rem;
    }
}
.people-display-birthday{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin: 1rem 0;
    
}
.people-display-age{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    
}
.people-display-birth-place{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    
}
.people-display-known-for{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    
}
.people-display-bio-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    @include small{
        margin-top: 0.5rem;
    }
}
.people-display-socials-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.75rem;
}
.insta-icon{
    font-size: 3rem;
    color: white;
    margin-right: 0.5rem;
    @include large{
        font-size: 5rem;
    }
    @include x-large{
        font-size: 6rem;
    }
    &:hover{
        transform: scale(110%);
    }
}
.imdb-icon{
    font-size: 3rem;
    color: white;
    margin-right: 0.5rem;
    @include large{
        font-size: 5rem;
    }
    @include x-large{
        font-size: 6rem;
    }
    &:hover{
        transform: scale(110%);
    }
}
.twitter-icon{
    font-size: 3rem;
    color: white;
    @include large{
        font-size: 5rem;
    }
    @include x-large{
        font-size: 6rem;
    }
    &:hover{
        transform: scale(110%);
    }
}
