@import '../../assets/partials/breakpoints';
.search-film-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.search-film-header h1{
    font-size: 2.25rem;
    @include med {
        font-size: 2.5rem;
    }
    @include large {
        font-size: 2.75rem;
    }
    @include x-large {
        font-size: 3rem;
    }
}
.search-film-header p{
    font-size: 0.85rem;
    @include med {
        font-size: 1rem;
    }
    @include large {
        font-size: 1.15rem;
    }
    @include x-large {
        font-size: 1.35rem;
    }
}
.search-film-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-film-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-film-select{
    font-size: 1.25rem;
    text-align: center;
    border-radius: 5px;
    background-color: #6f42c1;
    border: transparent;
    outline: transparent;
    color: white;
    margin-bottom: 1.5rem;
    @include med {
        font-size: 1.5rem;
    }
    @include large{
        font-size: 1.75rem;
    }
}
.search-film-bar{
    background: transparent;
    outline: transparent;
    border: none;
    color: white;
    font-size: 1.25rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    &:hover{
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px;
    }
    &:focus{
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px;
    }
    @include med {
        font-size: 1.5rem;
    }
    @include large {
        font-size: 1.75rem;
    }
}
.film-search-button{
    background: transparent;
    border: transparent;
    outline: transparent;
    color: white;
    font-size: 1.75rem;
    padding-bottom: 1rem;
    &:hover{
        color: rgb(157, 133, 1);
    }
    @include med {
        font-size: 2rem;
    }
    @include large{
        font-size: 2.25rem;
    }
}