@import '../../assets/partials/breakpoints';


.movie-display-poster{
    padding: 1rem;
    border-radius: 20px;
    width: 17rem;
    @include small {
        width: 20rem;
    }
    @include med{
        width: 22rem;
    }
    @include large{
        width: 24rem;
    }
    @include x-large{
        width: 26rem;
    }
    @include xx-large{
        width: 28rem;
    }
}
.movie-display-title-container{
    padding: 0.5rem;
}
.movie-display-title-container h1{
    @include large{
        font-size: 3rem;
    }
    @include x-large{
        font-size: 3.25rem;
    }
}
.movie-display-title-container p{
    @include large{
        font-size: 1.5rem;
    }
    @include x-large{
        font-size: 1.75rem;
    }
}
.movie-title-info-container{
    @include med{
        display: flex;
        justify-content: space-evenly;
    }
    @include large{
        font-size: 1.2rem;
    }
}
.movie-display-genres{
    display: flex;
    flex-wrap: wrap;
}
.movie-display-interact-container{
    display: flex;
    margin-bottom: 2rem;
}
.movie-tagline-display{
    margin-bottom: 1rem;
}

// ! Movie Display Rating
.movie-display-rating{
    background-color: rgba(0, 0, 0, 0.473);
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;

}
.movie-display-rating p{
    margin-top: 1rem;
}
.display-terrible-rated{
    color: white;
    padding: 0.79rem;
    border: 1px solid white;
    border-radius: 50%;
}
.display-poor-rated{
    color: red;
    padding: 0.79rem;
    border: 1px solid red;
    border-radius: 50%;
}
.display-fair-rated{
    color: yellow;
    padding: 0.79rem;
    border: 1px solid yellow;
    border-radius: 50%;
}
.display-good-rated{
    color: aqua;
    padding: 0.79rem;
    border: 1px solid aqua;
    border-radius: 50%;
}
.display-great-rated{
    color: rgb(47, 255, 92);
    padding: 0.79rem;
    border: 1px solid rgb(47, 255, 92);
    border-radius: 50%;
}

.movie-display-favorite{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}
.movie-display-add-favorite{
    font-size: 2rem;
    color: yellow;
}
.movie-display-to-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}
.movie-display-add-list{
    font-size: 2rem;
    color: rgb(47, 255, 92);
}
.movie-display-trailer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-display-play-button{
    font-size: 2.5rem;
    color: red;
}
