@import '../../assets/partials/breakpoints';
.episode-display-header-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.episode-display-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.episode-display-title-container h1{
    @include large{
        font-size: 3rem;
    }
    @include x-large{
        font-size: 3.25rem;
    }
}
.episode-display-title-container p{
    @include med{
        font-size: 1.25rem;
    }
    @include large{
        font-size: 1.5rem;
    }
}